{
    "env": {
        "development": {
            "presets": ["babel-preset-env", "react"]
        },
        "production": {
            "presets": ["babel-preset-env", "react"],
            "plugins": [
                [
                    "transform-react-remove-prop-types",
                    {
                        "mode": "wrap"
                    }
                ]
            ]
        }
    }
}
