@import '~styles/palette.scss';
@import '~styles/mixins.scss';

$min-fontsize: 24px;
$fontsize-range: 32;
$min-screensize: 420px;
$screensize-range: 1020;

.container {
    padding: 16px;
    max-width: 80%;
    margin: 0 auto;

    & > h1 {
        @include responsive-font($min-fontsize, $fontsize-range, $min-screensize, $screensize-range);
        background: $darkblue;
        color: $somegray;

        &::selection {
            background: $somegray;
            color: $darkblue;
        }
    }
}
