@import './styles/palette.scss';

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: $darkblue;
    color: $somegray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.sample-rule {
    background: black;
}
